*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}
.container{
    width:100%;
    height:100vh;
    background-image:url(i/1.png);
    background-size:cover;
    background-position: center;
    padding: 20px 10%;
    
}

nav {
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    
}

nav .btn{
    text-decoration:none;
    color:whitesmoke;
    background: #333;
    padding: 15px 50px;
    border-radius: 30px;
    
}
.content{
    margin-top:10%;
}
.content h2{
    color:saddlebrown;
    font-size:34px;
    margin-bottom: 15px;
}

.content h1{
    font-size:60px;
    color:#757575;
    margin-top:-25px;
    margin-bottom: 25px;
    
}
.content p{
    max-width:380px;
    font-weight:500;
    font-size:14px;
    color:#9E9E9E;
    
}
.content h3{
    margin-top:30px;
    font-weight:600;
    color: aliceblue;
    font-size:24px;
}


.colour div{
    background:conic-gradient(white 0deg 90deg,red  90deg 270deg,white 270deg 360deg);
    width:50px;
    height:50px;
    border-radius: 50%;
    margin-right:10px;
    cursor: pointer;
}
.colour{
    display:flex;
    margin-top:30px;
    
}
.colour #brown{
    background:blue;
}
.colour #black{
    background:brown;
}
.colour #blue{
    background:white;
}
